// ====================================
// ====== Date selection section ======
// ====================================
.date-selection {
    background: #fff;

    &__period {
        cursor: pointer;
    }

    &__period--active {
        background: theme-color("primary");
        color: #fff;    
    }

    &__toggler {
        flex-grow: 1;
        align-items: center;    
    }
}

.date-toggler__toggle {
    cursor: pointer;
}