// ===========================
// ====== Items section ======
// ===========================
.sort-icon {
    cursor: pointer;

    opacity: .5;

    &--active {
        opacity: 1;
    }
}

.sort--desc-icon {
    font-size: 1.5rem;
    transform: rotate(-90deg);
}
.sort--asc-icon {
    font-size: 1.5rem;
    transform: rotate(90deg) scale(-1,1);
}
.col-icon {
    @include make-col-ready();
    flex: 0 0 60px;

    @include media-breakpoint-up(sm) {
        flex: 0 0 75px;
        font-size: 1.5rem;
    }
}
.items {
    &__actions {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        margin-top: 1rem;

        @include media-breakpoint-up(md) {
            width: auto;
            margin-top: 0;
        }

        @include media-breakpoint-up(xl) {
            display: none;
        }
    }

    &__row {
        border-bottom: 1px solid #dee2e6;

        @include media-breakpoint-up(md) {
            border-bottom: 0;
        }

        transition: .2s ease all;

        &:hover {
            background: #eee;

            .items__actions {
                display: flex !important;
            }
        }
    }

    &__icon {
        color: $text-muted;
        text-align: center;

        @include media-breakpoint-up(sm) {
            margin-right: 1rem;
        }
    }

    &__content-category {
        font-size: .8rem;
        text-transform: uppercase;
        letter-spacing: .2px;
    }

    &__content-title {
        font-weight: 700;
    }

    &__action-elem {
        font-size: 14px;
        color: #0954AB;
        padding-left: .75rem;
        padding-right: .75rem;
        border-right: 1px solid #ccc;
        cursor: pointer;

        &:last-child {
            border: 0;
            padding-right: 0;
        }

        a {
            color: #0954AB;
            text-decoration: none;
        }

        &-icon {
            display: none;

            @include media-breakpoint-up(xl) {
                display: inline;
            }
        }
    }
}