body {
    background: #eee;
    color: theme-color("dark");
}

// Reset material icon styles
.material-icons {
    line-height: unset;
    font-size: unset;
}

// .fade-enter {
//     opacity: 0;
//     z-index: 1;
// }
  
// .fade-enter.fade-enter-active {
//     opacity: 1;
//     transition: opacity .25s ease-in;
// }