@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/alert";

// ======================================
// =========== Custom imports ===========
// ======================================
@import "index";
@import "NavBar/NavBar";
@import "MainSummary/MainSummary";
@import "DateSelection/DateSelection";
@import "Items/Items";
@import "AddItem/AddItem";

// Page transitions
.to-be-transitioned {
    left: 0;
    right: 0;
}
/* purgecss start ignore */
.fade-enter {
    opacity: 0;
    z-index: 1
}
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity .5s ease-in;
}
/* purgecss end ignore */